.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.big-block {
  background: radial-gradient(
    50% 50% at 100% 50%,
    #c98f3b 0%,
    rgba(255, 151, 0, 0) 100%
  );
  display: grid;
  row-gap: 130px;
  column-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 3.5em;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.info-title {
  max-width: 450px;
}

.info-title h2 {
  text-align: center;
}

.link {
  text-decoration: none;
}

.info-links {
  display: block;
  margin-top: 30px;
}
.link-btn {
  /* display: inline-block; */
  margin: 25px;
  border-radius: 30px;
}
.btn1 {
  color: #fff;
  background: linear-gradient(93.81deg, #c98f3b 6.36%, #d3c0a4 102.94%);
  box-shadow: 0px 0px 16px 5px #c98f3b;
}

.btn2 {
  color: rgb(0, 0, 0);
  background: #ffffff;
  border: 2px solid #c98f3b;
  box-shadow: 0px 0px 14px 5px #c98f3b;
}

.slider-box {
  background-color: none;
}

.slider-img {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

img {
  max-height: 400px;
  object-fit: contain;
}

.small-block {
  margin: 0;
  background-color: rgb(217, 44, 44);
  height: 250px;
  width: 100vw;
  display: grid;
}
