.circle {
  background-color: #d9d9d9;
  height: 90px;
  width: 90px;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.slider-item {
  margin-left: 25px;
}
.item {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.item-title {
  font-weight: bold;
}
